<div class="grid">
    <div class="col-12">

        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left"></ng-template>
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar Autor" (click)="agregarAutor()" icon="pi pi-plus" class="p-button-success mr-2" ></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="autores" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nombreAutor']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowHover]="true" dataKey="idAutor">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Listado de Autores</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" pInputText placeholder="Buscar..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="code">ID # <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="nombreAutor">Nombre Autor <p-sortIcon field="nombreAutor"></p-sortIcon></th>
                        <th pSortableColumn="apellidosAutor">Apellidos Autor <p-sortIcon field="apellidosAutor"></p-sortIcon></th>
                        <th pSortableColumn="nacionalidad">Nacionalidad </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-autor>
                    <tr>

                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">ID #</span>
                            {{autor.idAutor }}
                        </td>
                        <td >
                            {{autor.nombreAutor}}
                        </td>
                        <td >
                            {{autor.apellidosAutor}}
                        </td> 
                        <td >
                            {{autor.nacionalidad}}
                        </td> 
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editarAutor(autor)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteAutor(autor)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>   

<p-dialog [(visible)]="deleteDialog" header="Acción" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="autorSelected">¿Estás seguro de eliminar <b>{{ autorSelected.nombreAutor }}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmarEliminar()"></button>
    </ng-template>
</p-dialog>