<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>LIBROS DESEADOS</h5>
			<p-dataView #dv [value]="libros" [paginator]="true" [rows]="9"  filterBy="nombreLibro" [sortField]="sortField" layout="grid">
				<ng-template pTemplate="header">
					<div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
						<span class="p-input-icon-left mb-2 md:mb-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Buscar por nombre" [(ngModel)]="sortF" (input)="dv.filter(sortF)">
                        </span>	
						<p-dataViewLayoutOptions></p-dataViewLayoutOptions>
					</div>
				</ng-template>

				<ng-template let-libro pTemplate="listItem">
					<div class="col-12">
						<div class="flex flex-column md:flex-row align-items-center p-3 w-full">
							<img src="assets/pic.png" [alt]="libro.nombreLibro" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5"/>
							<div class="flex-1 text-center md:text-left">
								<div class="font-bold text-2xl">{{libro.nombreLibro}}</div>
								<div class="mb-3">{{libro.nombreAutor}} {{libro.apellidosAutor}} - {{libro.yearPublicacion}}</div>
                                <div class="mb-3">{{libro.descripcion}}</div>
								<div class="flex align-items-center mt-2">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">{{libro.nombreColeccion}}</span>
								</div>
							</div>
							<div class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
								<span class="text-2xl font-semibold mb-2 align-self-center md:align-self-end">${{libro.precio}}</span>
								<p-button (click)="eliminarDeseado(libro)" icon="pi pi-trash" label="Eliminar de Deseados" class="mb-2"></p-button>
								<p-button (click)="verComentarios(libro)" class="p-button-warning" label="Comentarios" class="mb-2" icon="pi pi-comments" ></p-button>
                                <span *ngIf="libro.idLibroDeseado" class="sm:ml-2 product-badge status-instock">Deseados</span>
							</div>
						</div>
					</div>
				</ng-template>

				<ng-template let-libro pTemplate="gridItem">
					<div class="col-12 md:col-4">
						<div class="card m-3 border-1 surface-border">
							<div class="flex align-items-center justify-content-between">
								<div class="flex align-items-center">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">{{libro.nombreColeccion}}</span>
								</div>
								<span *ngIf="libro.idLibroDeseado" class="sm:ml-2 product-badge status-instock">Deseados</span>
							</div>
							<div class="text-center">
								<img src="assets/pic.png" [alt]="libro.nombreLibro" class="w-9 shadow-2 my-3 mx-0"/>
								<div class="text-2xl font-bold">{{libro.nombreLibro}}</div>
								<div class="mb-3">{{libro.nombreAutor}} {{libro.apellidosAutor}} - {{libro.yearPublicacion}}</div>
							</div>
							<div class="flex align-items-center justify-content-between">
								<span class="text-2xl font-semibold">${{libro.precio}}</span>
                                <p-button (click)="verComentarios(libro)" class="p-button-warning" icon="pi pi-comments" ></p-button>
								<p-button (click)="eliminarDeseado(libro)" class="p-button-warning" icon="pi pi-trash" ></p-button>
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>
	</div>
</div>

<p-dialog [(visible)]="showDialog" header="Acción" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="libroSelected">¿Deseas eliminarlo de tus deseados?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="showDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmar()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showComments" header="Comentarios del libro" [modal]="true" [style]="{width:'750px'}">

    <p-timeline [value]="comentarios" align="alternate" layout="vertical">
        <ng-template pTemplate="marker" let-comment>
        <span class="custom-marker shadow-2" style.backgroundColor="#FF9800">
            <i class="pi pi-comment"></i>
        </span>
        </ng-template>
        <ng-template pTemplate="content" let-comment>
            <p-card [header]="comment.nombreUsuario + ' ' + comment.apellidoUsuario" subheader="{{comment.fecha | date: 'dd/MM/yyyy'}}">
                <p>{{comment.comentario}}</p>
            </p-card>
        </ng-template>
    </p-timeline>

    <p-divider align="center" styleClass="my-6">
        <span class="text-600 font-normal text-sm">Nuevo Comentario:</span>
    </p-divider>

    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-8 lg:mb-0">
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-comment"></i>
                <input type="text" [(ngModel)]="newComment" pInputText placeholder="Comentario" />
            </span>        
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
            <p-button icon="pi pi-save" [disabled]="!newComment" (click)="agregarComentario()" label="Agregar"></p-button>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Cerrar" (click)="showComments = false"></button>
    </ng-template>
</p-dialog>
