<div class="grid">

    <div class="col-12">
        <div class="card">
            <h5>Modificar Coleccion:</h5>
            <form class="p-fluid p-formgrid grid" [formGroup]="editarColeccion">
                <div class="field col-12">
                    <label>Nombre Colección :</label>
                    <input formControlName="txtNombre" pInputText type="text" />
                    <p class="text-danger mt-1" *ngIf="
                        editarColeccion.get('txtNombre')?.hasError('required') &&
                        editarColeccion.get('txtNombre')?.touched">
                      Campo Requerido
                    </p>
                </div>
                <div class="field col-12 ">
                    <label>Descripción :</label>
                    <input formControlName="txtDescripcion" pInputText type="text" />
                    <p class="text-danger mt-1" *ngIf="
                        editarColeccion.get('txtDescripcion')?.hasError('required') &&
                        editarColeccion.get('txtDescripcion')?.touched">
                      Campo Requerido
                    </p>
                </div>
               

                <div class="field col-12 md:col-1">
                    <button [disabled]="!editarColeccion.valid" (click)="modificar()" pButton label="Modificar"></button>
                </div>
            </form>
        </div>
    </div>

</div>