<div class="grid">

    <div class="col-12">
        <div class="card">
            <h5>Agregar Autor:</h5>
            <form class="p-fluid p-formgrid grid" [formGroup]="agregarAutor">
                <div class="field col-12 md:col-6">
                    <label>Nombre Autor :</label>
                    <input formControlName="txtNombreAutor" pInputText type="text" />
                    <p class="text-danger mt-1" *ngIf="
                        agregarAutor.get('txtNombreAutor')?.hasError('required') &&
                        agregarAutor.get('txtNombreAutor')?.touched">
                      Campo Requerido
                    </p>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Apellidos Autor :</label>
                    <input formControlName="txtApellidosAutor" pInputText type="text" />
                    <p class="text-danger mt-1" *ngIf="
                        agregarAutor.get('txtApellidosAutor')?.hasError('required') &&
                        agregarAutor.get('txtApellidosAutor')?.touched">
                      Campo Requerido
                    </p>
                </div>
                <div class="field col-12">
                    <label>Nacionalidad :</label>
                    <input formControlName="txtNacionalidad" pInputText type="text"/>
                    <p class="text-danger mt-1" *ngIf="
                        agregarAutor.get('txtNacionalidad')?.hasError('required') &&
                        agregarAutor.get('txtNacionalidad')?.touched">
                      Campo Requerido
                    </p>
                </div>

                <div class="field col-12 md:col-1">
                    <button [disabled]="!agregarAutor.valid" (click)="guardar()" pButton label="Guardar"></button>
                </div>
            </form>
        </div>
    </div>

</div>



<!-- <div class="field col-12 md:col-3">
					<label htmlFor="state">State</label>
					<p-dropdown [options]="dropdownItems" optionLabel="name" [(ngModel)]="selectedState"></p-dropdown>
				</div> -->