<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 mt-5 xl:mt-0 text-center">
        </div>
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">NOMBRE APLICACIÓN</div>
                </div>
            
                <div class="w-full md:w-10 mx-auto">
                    <p-toast key="toaster" [baseZIndex]="99999"></p-toast>
                    <label for="name" class="block text-900 text-xl font-medium mb-2">Correo</label>
                    <input id="name" [(ngModel)]="correo" type="text" placeholder="Correo" pInputText class="w-full mb-3" style="padding:1rem;">
            
                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Contraseña</label>
                    <p-password id="password1" [(ngModel)]="password" placeholder="Contraseña" [toggleMask]="true" styleClass="w-full mb-3"></p-password>
            
                    <button (click)="loginUser()" [disabled]="correo.trim() == '' || password.trim() == ''" pButton pRipple label="Iniciar Sesión" class="w-full p-3 text-xl"></button>
                    
                    <p-divider align="center" styleClass="my-6">
                        <span class="text-600 font-normal text-sm">Ó</span>
                    </p-divider>
    
                    <button pButton pRipple label="Iniciar sesión con Google" id="buttonDiv" icon="pi pi-google" class="w-full p-button-secondary"></button>
                
                </div>
            </div>
        </div>
    </div>
</div>